<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @clothing_piece, partial: "card", as: :clothing_piece %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
